jinja2
tqdm
absl-py
openai
pyyaml
google-cloud-aiplatform
anthropic
marko
pandas
fastapi
uvicorn[standard]
pydantic
livekit
livekit-agents
livekit-plugins-openai
livekit-plugins-silero
google-generativeai
aiohttp